@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if (Model.Pictures.Count() == 0)
{
    <div class="register-greeting">Hi, @User.Identity.Name! You can find and follow users <a asp-area="" asp-controller="Search" asp-action="Users">here</a>!</div>
}
else
{
    var n = 1;
    <div class="row">
        <div class="main-view text-main form-color col-lg-8 col-md-8 col-sm-8 col-xs-8">
            @foreach (var picture in Model.Pictures.OrderByDescending(p => p.PublishDate))
            {
                <div>
                    <p class="my-row header">
                        <a asp-area="" asp-controller="User" asp-action="Index" asp-route-id="@picture.UserId">
                            @if (picture.UserProfilePhoto == null)
                            {
                                <span><img src="~/images/Default profile icon.png" class="avatar" /></span>

                            }
                            else
                            {
                                <span><img src="@picture.UserProfilePhoto" class="avatar" /></span>
                            }
                            <span class="name text-main">@picture.Name</span>
                        </a>
                        <span class="date">• @picture.PublishDate</span>
                    </p>
                    <div class="flex">
                        <a asp-area="" asp-controller="Pictures" asp-action="Index" asp-route-id="@picture.Id" class="picture col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <img src="@picture.Photo" class="img-responsive" />
                        </a>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 comments-section">
                            <form method="post" asp-action="Create" asp-controller="Comments">
                                <textarea id="commentText-@n" rows="1" class="comment-textarea form-control my-input text-main" placeholder="Comment this photo...."></textarea>
                                <input type="hidden" id="pictureId-@n" value="@picture.Id" />
                                <input onclick="addComment(@n)" class="btn my-btns" type="button" value="Comment" />
                            </form>
                            <div id="commentsReload-@n">
                                @Html.Partial("Comments", new CommentsAndSection { Comments = picture.Comments, SectionNumber = n })
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="hr-pic" />
                n++;
            }
        </div>
    </div>
}
<script>
    function addComment(n) {
        var searchPic = "#pictureId-" + n;
        var searchCom = "#commentText-" + n;

        var pic = $(searchPic).val();
        var comment = $(searchCom).val();

        $.post("@Url.Action("Create", "Comments")", { 'pictureId': pic, 'commentContent': comment },
            function () {
                reloadFunction(n);
            });
    }

    function reloadFunction(n) {
        location.reload();
        var searchComRel = "#commentsReload-" + n;

        $(searchComRel).reload();
    }
</script>