@model Messages
@{
    ViewData["Title"] = "Message";
}
<script>
    $("#container")[0].scrollIntoView();
</script>

<a class="glyphicon glyphicon-arrow-left text-main back" href="back" onClick="history.go(-1); return false;">Back</a>

<br />
<div class="container form-color message-container" id="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        @foreach (var message in Model.SendedMessages)
        {
            <div>
                @if (message.SenderId == Model.UserId)
                {
                    if (Model.UserProfileImage == null)
                    {
                        <span><img src="~/images/Default profile icon.png" class="message-picture" /></span>
                    }
                    else
                    {
                        <span><img src="@Model.UserProfileImage" class="message-picture" /></span>
                    }
                }
                else
                {
                    if (Model.RecipientProfileImage == null)
                    {
                        <span><img src="~/images/Default profile icon.png" class="message-picture" /></span>
                    }
                    else
                    {
                        <span><img src="@Model.RecipientProfileImage" class="message-picture" /></span>
                    }
                }
                <span class="text-main mess-date">• @message.Date</span>
                <div class="mess-content text-main">@message.Content</div>
            </div>
            <br />
        }
        <form method="post" asp-action="Answer" asp-route-RecepientId="@Model.RecipientId">
            <textarea rows="1" class="comment-textarea form-control my-input text-main" placeholder="Send your message...." name="Content"></textarea>
            <br />
            <div>
                <input class="btn my-btns center-block btn-lg" type="submit" value="Send" />
            </div>
            <br />
        </form>
    </div>
</div>
