@model IndexViewModel
@{
    ViewData["Title"] = "Profile";
}
<link href="~/css/profile.css" rel="stylesheet" />

<figure class="snip1578 form-color">
    @if (Model.ProfileImage == null)
    {
        <span><img src="~/images/Default profile icon.png" alt="profile-sample6" class="profile-image" /></span>

    }
    else
    {
        <span><img src="@Model.ProfileImage" alt="profile-sample6" class="profile-image" /></span>
    }
    <figcaption>
        <h2 class="text-main">@Model.Name</h2>
        <h5 class="text-main">@Model.Username</h5>
    </figcaption>

    <figcaption class="followers">
        @if (User.Identity.Name != Model.Username)
        {
            if (Model.FollowInfo.Follow)
            {
                <a asp-controller="Followers" asp-action="Remove" asp-route-followedUserId="@Model.UserId" class="text-main menu-button">
                    <span class="text-main">Unfollow</span>
                </a>
            }
            else
            {
                <a asp-controller="Followers" asp-action="Add" asp-route-followedUserId="@Model.UserId" class="text-main menu-button">
                    <span class="text-main">Follow</span>
                </a>
            }
        }
        <a asp-controller="Followers" asp-action="Followers" asp-route-UserId="@Model.UserId" class="text-main menu-button">
            <span class="text-main">@Model.FollowInfo.Followers followers</span>
        </a>
        <a asp-controller="Followers" asp-action="Followed" asp-route-UserId="@Model.UserId" class="text-main menu-button">
            <span class="text-main">@Model.FollowInfo.Followed followed</span>
        </a>

    </figcaption>

    <div class="menu">
        <a asp-controller="Albums" asp-action="Index" asp-route-id="@Model.UserId" class="text-main menu-button">Pictures</a>
        @if (User.Identity.Name == Model.Username)
        {
            <a asp-controller="Manage" asp-action="ChangeProfilePicture" class="text-main menu-button">Change Profile Picture</a>
            <a asp-controller="Manage" asp-action="AccountSettings" class="text-main">Account Settings</a>
        }
    </div>
</figure>

<div class="row">
    <div class="main-view text-main form-color col-lg-8 col-md-8 col-sm-8 col-xs-8">
        @foreach (var picture in Model.Pictures.OrderByDescending(p => p.PublishDate))
        {
            <div>
                <p class="my-row header">
                    <a asp-area="" asp-controller="User" asp-action="Index" asp-route-id="@picture.UserId">
                        @if (Model.ProfileImage == null)
                        {
                            <span><img src="~/images/Default profile icon.png" class="avatar" /></span>

                        }
                        else
                        {
                            <span><img src="@Model.ProfileImage" class="avatar" /></span>
                        }
                        <span class="name text-main">@picture.Name</span>
                    </a>
                    <span class="date">• @picture.PublishDate</span>
                </p>
                <a asp-area="" asp-controller="Pictures" asp-action="Index" asp-route-id="@picture.Id" class="zoom">
                    <img src="@picture.Photo" class="img-responsive photo" />
                </a>
                <form method="post" asp-action="Create" asp-controller="Comments">
                    <textarea id="commentText" rows="1" class="comment-textarea form-control my-input text-main" placeholder="Comment this photo...." name="commentContent"></textarea>
                    <input type="hidden" name="pictureId" value="@picture.Id" id="pictureId" />
                    <input onclick="addComment()" class="btn my-btns" type="button" value="Comment" />
                </form>
                <div id="commentsReload">
                    @Html.Partial("Comments", picture.Comments)
                </div>
            </div>
            <br />
        }
    </div>
</div>
<script>
    function addComment() {
        var pic = $("#pictureId").val();
        var comment = $("#commentText").val();
        $.post("@Url.Action("Create", "Comments")", { 'pictureId': pic, 'commentContent': comment });

        location.reload();
            $("#commentsReload").reload();
        }
</script>