@model IEnumerable<AllUsers>

@{
    ViewData["Title"] = "Users";
}

<h1 class="text-shadow">Search Users</h1>
<a asp-area="" asp-controller="Search" asp-action="Pictures" asp-route-SearchString="@string.Empty" class="text-shadow">
    Pictures
</a>
<a asp-area="" asp-controller="Search" asp-action="Users" asp-route-SearchString="@string.Empty" class="text-shadow">
    Users
</a>
<form asp-controller="Search" asp-action="Users" method="get">
    <input class="form-control my-input text-shadow form-color" type="text" name="SearchString" placeholder="Search user by name/username" style="width: 250px;float: left">
    <div style="overflow: hidden; padding-right: .5em;">
        <button type="submit" class="btn btn-default">Search</button>
    </div>
</form>
<br />
<table class="table form-color text-shadow">
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in @Model.OrderBy(x => x.Username))
        {
            <tr>
                <td>
                    <a asp-area="" asp-controller="User" asp-action="Index" asp-route-id="@user.Id" class="text-shadow">
                        @user.Name
                    </a>
                </td>
                <td>
                    <a asp-area="" asp-controller="User" asp-action="Index" asp-route-id="@user.Id" class="text-shadow">

                        @user.Username
                    </a>
                </td>
                <td>
                    <a asp-area="" asp-controller="User" asp-action="Index" asp-route-id="@user.Id" class="text-shadow">
                        @user.Email
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
