@model IEnumerable<CommentIndex>

@if (Model.Count() != 0)
{
    <div class="form-color stuck">
        @foreach (var comment in Model)
        {
            <div class="comment">
                <a asp-area="" asp-controller="User" asp-action="Index" asp-route-id="@comment.UserId">
                    @if (comment.UserProfileImage == null)
                    {
                        <span><img src="~/images/Default profile icon.png" class="comment-avatar" /></span>

                    }
                    else
                    {
                        <span><img src="@comment.UserProfileImage" class="comment-avatar" /></span>
                    }
                    <span class="comment-name text-main">@comment.Name</span>
                </a>
                <span class="text-main comment-date">• @comment.PublishDate</span>
                @if (User.Identity.Name == comment.PictureOwnerUserName || User.Identity.Name == comment.UserName || User.IsInRole("Administrator"))
                {
                    <a asp-controller="Comments" asp-action="Delete" asp-route-commentId="@comment.Id" asp-route-pictureId="@comment.PictureId">
                        <button type="submit" class="close delete-comment" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </a>
                }
                <div class="comment-content text-main">@comment.Content</div>
            </div>
            <br />
        }
    </div>
}